@import "src/styles/variables";

:host {
  display: flex;
}
.close-icon {
  flex-basis: 10%;
}
::ng-deep {
  .mat-snack-bar-container {
    padding: 10px;
    border-radius: 8px;
    &.default-snack-bar {
      background: #adaaaa !important;
    }
    &.book-snack-bar {
      background: $yellow600 !important;
    }
    &.vat-snack-bar {
      background: $orange200  !important;
    }
    &.acc-snack-bar {
      background: #bb2f74a6 !important;
    }
    &.self-snack-bar {
      background: $green200 !important;
    }
  }
}