
<div class="close-icon flex justify-end items-center">
  <mat-icon svgIcon="heroicons_outline:exclamation-circle" class="text-white w-8 h-8"></mat-icon>
</div>

<div class="text-white mx-2 basis-4/5">
	<p class="font-bold text-xl">Client Status Updated	</p>
  <span class="text-base">
    <b>{{user.first_name}} {{user.last_name}}</b> has updated {{PlanTypeEnum[data.plan]}} for <b>Bespoke Alpha Limited</b> to <b>{{data.item.task}}</b>
  </span>
</div>

<div class="close-icon flex justify-end cursor-pointer" (click)="close()">
  <mat-icon svgIcon="heroicons_outline:x" class="text-white w-8 h-8"></mat-icon>
</div>

