:host {
  display: flex;
}
.close-icon {
  display: flex;
  flex-basis: 10%;
  justify-content: flex-end;
  mat-icon {
    color: white;
    width: 35px;
    height: 35px;
  }
}

.content {
  flex-basis: 80%;
  font-size:13px;
  color: white;
  margin: 0 8px;
  p {
    font-size: 16px;
  }
}

::ng-deep {
  .mat-snack-bar-container {
     // background: #00a1b19e !important;
    padding: 10px;
    border-radius: 8px;
    &.book-snack-bar {
      background: #dbcb0c !important;
      // background: #bfb214fa !important;
    }
    &.vat-snack-bar {
      background: #f37d04b3  !important;
    }
    &.acc-snack-bar {
      background: #bb2f74a6 !important;
    }
  }

}