<h1 mat-dialog-tilte align="end" class="cursor-pointer">
  <mat-icon mat-dialog-close svgIcon="heroicons_outline:x"></mat-icon>
</h1>
<mat-dialog-content>
  <table class="table w-full">
    <tr>
      <th>Name</th>
      <th>Date Added as Director</th>
      <th>Status</th>
    </tr>
    <tr class="text-center">
      <td>Mr James Duffy</td>
      <td>12/5/2017</td>
      <td>
        <mat-icon class="cursor-pointer"
        svgIcon="heroicons_outline:plus-sm">
      </mat-icon>
      </td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
  <button mat-raised-button color="primary" mat-dialog-close>Submit</button>
</mat-dialog-actions>