<h1 mat-dialog-tilte align="end" class="cursor-pointer">
  <mat-icon mat-dialog-close svgIcon="heroicons_outline:x"></mat-icon>
</h1>
<mat-dialog-content>
  <table class="table w-full">
    <tr>
      <th>Name</th>
      <th>Date Added as Director</th>
      <th>Status</th>
    </tr>
    <tr class="text-center">
      <td>Mr James Duffy</td>
      <td>12/5/2017</td>
      <td>
        <mat-icon *ngIf="!showStatusBtn" class="cursor-pointer" (click)="startUpdates('start')"
        svgIcon="heroicons_outline:plus-sm">
      </mat-icon>
      <div *ngIf="showStatusBtn" class="flex justify-center"> 
        <button mat-icon-button>
          <mat-icon class="text-red-600" svgIcon="heroicons_outline:arrow-sm-left" 
          (click)="max > 0?openConfirmationDialog(max,tasks[0].bookKeepingStatus):startUpdates('end')"></mat-icon>
        </button>
        <button  mat-raised-button  [class]="max < tasks[0].bookKeepingStatus.length ?tasks[0].bookKeepingStatus[max].status:''" 
          (click)="max < tasks[0].bookKeepingStatus.length -1 ?getNextStatus('self', max,tasks[0].bookKeepingStatus):$event.stopPropagation()"> 
          {{max < tasks[0].bookKeepingStatus.length ?tasks[0].bookKeepingStatus[max].text:tasks[0].bookKeepingStatus[0].text}} 
        </button>
      </div>
      </td>
    </tr>
    <tr class="text-center">
      <td>Mr Daniel Rose</td>
      <td>12/5/2017</td>
      <td>
        <mat-icon *ngIf="!showStatusBtn" class="cursor-pointer" (click)="startUpdates('start')"
                  svgIcon="heroicons_outline:plus-sm">
        </mat-icon>
        <div *ngIf="showStatusBtn" class="flex justify-center"> 
          <button mat-icon-button>
            <mat-icon class="text-red-600" svgIcon="heroicons_outline:arrow-sm-left" 
            (click)="max > 0?openConfirmationDialog(max,tasks[0].bookKeepingStatus):startUpdates('end')"></mat-icon>
          </button>
          <button  mat-raised-button [class]="max < tasks[0].bookKeepingStatus.length ?tasks[0].bookKeepingStatus[max].status:''" 
            (click)="max < tasks[0].bookKeepingStatus.length -1 ?getNextStatus('self', max,tasks[0].bookKeepingStatus):$event.stopPropagation()"> 
            {{max < tasks[0].bookKeepingStatus.length ?tasks[0].bookKeepingStatus[max].text:tasks[0].bookKeepingStatus[0].text}} 
          </button>
        </div>
      </td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
  <button mat-raised-button color="primary" mat-dialog-close>Save</button>
</mat-dialog-actions>