@import "src/styles/variables";

table {
  th,td {
    padding: 10px 0;
  }
  .mat-raised-button {
    background-color: $red !important;
    color: $white !important;
    width: 210px;
    font-size: 12px;
    font-weight: normal;
    box-shadow: none !important;
    &.complete {
      background-color: $green300 !important;
    }
    &.in-progress {
      background-color: $yellow400 !important;
    }
    &.start {
      background-color: $orange300  !important;
    }
  }
}

