
<div class="flex flex-col flex-auto min-w-0 p-8">
    <div class="sm:col-span-6 flex flex-col  p-6 bg-card shadow rounded-2xl overflow-hidden mb-3">
        <h1 class="font-bold">Job Manager</h1>       
        <div >
          <div class="row flex items-center justify-between flex-wrap full-width pt-2">
            <div class="col-md-8 col-sm-12 ">
              <mat-form-field appearance="fill" id="status" class="w-50  ">
                <mat-select  class="text-base  text-gray-400" placeholder="Select Theme" (selectionChange)="onThemeChange($event)" disableOptionCentering>
                  <mat-option *ngFor="let item of themesList" [value]="item.value">
                    <ng-container >
                     {{item.name}}
                    </ng-container>
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <mat-form-field appearance="fill" id="status" class="w-50 mx-2">
                <mat-select  class="text-base  text-gray-400" placeholder="Select Job Assignee" [(ngModel)]="selected" (selectionChange)="onClientChange($event)"   disableOptionCentering>
                  <mat-option  *ngFor="let item of filteredJobAssigne" [value]="item.ja_id" >
                    <ng-container >
                     {{item.ja_name}}
                    </ng-container>
                  </mat-option>
                </mat-select>
              </mat-form-field>  -->
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="search relative mb-4">
                <input id="filter-text-box"  type="text" (input)="onFilterTextBoxChanged()"  class="rounded-full text-base h-10" placeholder="Filter any column"   >
              </div>
            </div>
          </div>
             <div class="flex justify-end  download-button full-width ">
          <button mat-stroked-button color="primary" (click)="onBtExport()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>&nbsp; Download</button>
        </div> 
        <div class="page-size-selector">
          Page Size:
          <select (change)="onPageSizeChanged($event)" [ngModel]="pageSize">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
        </div>
<ag-grid-angular id="ag-grid"  [defaultColDef]="defaultColDef" style="width:100%; height: 550px; padding-top: 10px;" class="ag-theme-alpine"
[rowDragMultiRow]="true"
[animateRows]="true"
[rowData]="rowData" 
[columnDefs]="columnDefs"
[pagination]="true"

[tooltipShowDelay]="tooltipShowDelay"
[tooltipHideDelay]="tooltipHideDelay"
[paginationPageSize]="10"
[pivotPanelShow]="pivotPanelShow"
[debug]="true"
[sideBar]="true"
[cacheQuickFilter]="true"
(cellEditingStopped)="onCellEditingStopped($event)"
(gridReady)="onGridReady($event)">
</ag-grid-angular>
</div>
</div></div>