$white: #ffffff;
$red: #f44336;

$gray100: #efefef;
$gray200: #848484;

$yellow100: #fdf8eb;
$yellow200: #f9e92a17;
$yellow300: #ffb100;
$yellow400: #ffc107;
$yellow500: #ffb100;
$yellow600: #dbcb0c;

$green100: #c2f57424;
$green200: #80a547;
$green300: #198754;

$orange100: #f9820714;
$orange200: #f37d04b3;
$orange300: #e57808;