@import "src/styles/variables";

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item {
  margin: 0 5px;
  &.active {
    .page-link{
      z-index: 3;
      color: $white;
      background-color: $blue;
      border-color: $blue;
    }
  }
}

.page-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #dee2e6;
  margin-left: -1px;
  color: $blue;
  background-color: $white;
}
.disabled {
  > a > span {
    color: #c9c0c0;
  }
}

.page-item:last-child .page-link,
.page-item:first-child .page-link {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border: none !important;
  outline: none !important;
  color: $gray200 !important;
  font-size: 0.75rem;
  background: transparent;
  &:hover {
    border: none !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}
