<h1 mat-dialog-tilte align="end" class="cursor-pointer">
  <mat-icon mat-dialog-close svgIcon="heroicons_outline:x"></mat-icon>
</h1>
<mat-dialog-content>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Onboarding</th>
        <th>Completed</th>
        <th class="text-center">Date</th>
        <th>User Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of taskList; let i = index">
        <ng-container *ngIf="item.type === 'profession'">
          <td>{{item.task}}</td>
          <td>
            <mat-icon *ngIf="item.t_status !== '0'" svgIcon="heroicons_outline:minus-sm" class="cursor-pointer"
              (click)="toggleData(item, false)"></mat-icon>
            <mat-icon *ngIf="item.t_status === '0'" svgIcon="heroicons_outline:plus-sm" class="cursor-pointer"
              (click)="toggleData(item, true)"></mat-icon>
            <label class="form-switch" *ngIf="item.t_status !== '0'">
              <input type="checkbox" [(ngModel)]="item.selected" (ngModelChange)="statusChanged($event, item)">
              <i></i>
            </label>
          </td>
          <td><input type="datetime" value="" [id]="item?.static_id"></td>
          <td></td>
        </ng-container>
      </tr>

      <tr style="text-align:left">
        <th colspan="4">VAT</th>
      </tr>
      <tr *ngFor="let item of taskList; let i = index">
        <ng-container *ngIf="item.type === 'vat'">
          <td>{{item.task}}</td>
          <td>
            <mat-icon *ngIf="item.t_status !== '0'" svgIcon="heroicons_outline:minus-sm" class="cursor-pointer"
              (click)="toggleData(item, false)"></mat-icon>
            <mat-icon *ngIf="item.t_status === '0'" svgIcon="heroicons_outline:plus-sm" class="cursor-pointer"
              (click)="toggleData(item, true)"></mat-icon>
            <label class="form-switch" *ngIf="item.t_status !== '0'">
              <input type="checkbox" [(ngModel)]="item.selected" (ngModelChange)="statusChanged($event, item)">
              <i></i>
            </label>
          </td>
          <td><input type="datetime" value="" [id]="item?.static_id"></td>
          <td></td>
        </ng-container>
      </tr>

      <tr style="text-align: left;">
        <th colspan="4">Software</th>
      </tr>
      <tr *ngFor="let item of taskList; let i = index">
        <ng-container *ngIf="item.type === 'software'">
          <td>{{item.task}}</td>
          <td>
            <mat-icon *ngIf="item.t_status !== '0'" svgIcon="heroicons_outline:minus-sm" class="cursor-pointer"
              (click)="toggleData(item, false)"></mat-icon>
            <mat-icon *ngIf="item.t_status === '0'"  svgIcon="heroicons_outline:plus-sm" class="cursor-pointer"
              (click)="toggleData(item, true)"></mat-icon>
            <label class="form-switch" *ngIf="item.t_status !== '0'">
              <input type="checkbox" [(ngModel)]="item.selected" (ngModelChange)="statusChanged($event, item)">
              <i></i>
            </label>
          </td>
          <td><input type="datetime" value="" [id]="item?.static_id"></td>
          <td></td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>