@import "src/styles/variables";

.mat-row {
  &.bookkeeping-row {
    background: $yellow200;
  }
  &.vat-row {
    background: $orange100;
  }
  &.annual_accounts-row {
    background: #ff4aa412;
  }
  &.self_assessment-row {
    background: $green100;
  }
  &.onboarding-row, &.conf_stmt-row {
    background: $gray100;
  }
}

.social-btn:hover {
	width: 150px;
	border-radius: 30px;
}

.social-btn span {
	width: 0px;
	overflow: hidden;
  display: none;
	transition: 1s;
}

.social-btn {
	cursor: pointer;
	height: 50px;
	width: 50px;
	font-family: 'Titillium Web', sans-serif;
	color: #525151;
	border-radius: 30px;
	box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.1);
	background: white;
	margin: 5px;
	transition: 1s;
  display: flex;
}

.social-btn:hover span {
	padding-left: 10px;
  margin-top: 15px;
	width: max-content;
  display: block;
  font-weight: 600;
}

@media(min-width:320px){
  .social-links{
    margin-top: -21px;
  }
}

@media(min-width:375px){
  .paginator{
    margin-left: 28px;
  }
}

@media(min-width:425px){
  .paginator{
    margin-left: 22px;
  }
}