@import "src/styles/variables";

.mat-row {
  &.bookkeeping-row {
    background: $yellow200;
  }
  &.vat-row {
    background: $orange100;
  }
  &.annual_accounts-row {
    background: #ff4aa412;
  }
  &.self_assessment-row {
    background: $green100;
  }
  &.onboarding-row, &.conf_stmt-row {
    background: $gray100;
  }
}
