:host {
  ::ng-deep svg {
    width: 20px;
    height: 10px;
  }
}
.task-lists {
  height: fit-content;
  >div {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 3%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  }
  .completed{
    background: #fdf8eb;
  }
  
}
