:host ::ng-deep {
  table {
    .mat-header-cell, .mat-cell {
      padding: 20px;
      text-align: center;
      min-width: 170px;
    }
  }
}

.mat-raised-button {
  background-color: #f44336 !important;
  color: white !important;
  width: 195px;
  font-size: 12px;
  font-weight: normal;
  box-shadow: none !important;
  &.complete {
    background-color: #198754 !important;
  }
  &.in-progress {
    background-color: #ffc107 !important;
  }
  &.start {
    background-color: #e57808  !important;
  }
}

.example-container {
  overflow: auto;
}