@import "src/styles/variables";

:host ::ng-deep {
  table {
    .mat-header-cell {
      font-size: 14px;
      padding: 0 8px 4px;
      
      &.info-col {
        background: $gray100;
      }
      &.package-col {
        background: #01950114;
      }
      &.book-col {
        background: $yellow200;
      }
      &.vat-col {
        background: $orange100;
      }
      &.account-col {
        background: #ff4aa412;
      }
      &.assessment-col {
        background: $green100;
      }
    }
    .mat-cell{
      font-size: 13px;
      padding: 8px;
    }
    .mat-header-cell, .mat-cell {
      text-align: center;
      min-width: 140px;
      &:first-child {
        min-width: 170px;
      }
    }
    .suspended {
      background-color: $yellow100;
    }
  }
  svg {
    width: 20px;
    height: 20px;
  }
}
.table-container {
  max-height: calc(100vh - 370px);
}
.mat-raised-button {
  background-color: $red !important;
  color: $white !important;
  width: 230px;
  font-size: 12px;
  font-weight: normal;
  box-shadow: none !important;
  &.complete {
    background-color: $green300 !important;
  }
  &.in-progress {
    background-color: $yellow400 !important;
  }
  &.start {
    background-color: $orange300  !important;
  }
}

.search {
  position: relative;

  label[for="search"] {
    position: absolute;
    top: 10px;
    left: 14px;
    font-size: 1.2em;
  }

  input[id="search"] {
    color: $gray200;
    padding: 13px 10px 13px 40px;
    border: 1px solid $gray200;
    font-size: 15px;
    border-radius: 50px;
    width: 200px;
    height: 40px;
    outline: none !important;
    background-color: transparent;
  }

  .mat-icon {
    font-size: 1.2em;
    color: $gray200;
    cursor: pointer;
  }
}