<div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto p-6 sm:p-10">
    <fuse-alert [type]="'warning'"  [appearance]="'outline'" class="mb-4 mx-3">
      <span fuseAlertTitle>Client Suspended</span>
      Bespoke Alpha Solutions Suspended {{today | date: 'EEEE, MMMM d, y'}}
    </fuse-alert>
    <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
      <div class="text-lg font-medium tracking-tight leading-6 truncate mb-2">
        <div class="flex items-center justify-between flex-wrap py-2">
          <div class="flex items-center">
            <div class="mr-3">Statuses</div>
            <label class="form-switch">
              <input type="checkbox" [(ngModel)]="featureStatus" (ngModelChange)="statusChanged($event)">
              <i></i>
            </label>
          </div>

          <div class="flex items-center">
            <div class="relative  cursor-pointer" style="bottom: -7px;" (click)="decrementDay()">
              <mat-icon>chevron_left</mat-icon>
            </div>
  
            <div class="date-togglers">
              <input matInput [matDatepicker]="picker" [formControl]="date" (dateChange)="chosenMonthHandler($event)" class="w-20">
              <mat-datepicker-toggle matSuffix [for]="picker" class="relative" style="bottom: -4px;"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="multi-year" [startAt]="pageState.selectedDate"
                ></mat-datepicker>
            </div>
            <div class="relative cursor-pointer" style="bottom: -7px;" (click)="incrementDay()">
              <mat-icon>chevron_right</mat-icon>
            </div>
          </div>

          <div class="search">
            <label for="search">
              <mat-icon>search</mat-icon>
            </label>
            <input id="search" type="text" placeholder="Search" [(ngModel)]="searchTerm">
          </div>

        </div>
      </div>
      <div class="flex flex-col flex-auto overflow-x-auto">
        <ng-container *ngIf="(userTableList | search : searchTerm) as clientResult">
          <table class="min-w-240 overflow-y-visible"  mat-table  [dataSource]="clientResult">
            <ng-container matColumnDef="companyName" sticky>
              <th mat-header-cell *matHeaderCellDef class="pl-0 info-col"> Company Name </th>
              <td mat-cell *matCellDef="let element">
                <div>
                  <a href="https://www.morethanaccountants.co.uk/salesflow/admin/v_lead.html?id=78216" target="_blank">{{element.companyName}}</a>
                  <a href="https://www.morethanaccountants.co.uk/salesflow/admin/v_lead.html?id=78216" target="_blank"> {{element.companyName1}}</a>
                  <a href="https://www.morethanaccountants.co.uk/salesflow/admin/v_lead.html?id=78216" target="_blank"> {{element.companyName2}}</a>
                  <div class="logo-container flex items-center justify-center">
                    <a href="https://login.xero.com/identity/user/login" target="_blank">
                      <img src="assets/images/logo/bespoke.png" alt="bespoke">
                    </a>
                    <a href="https://app.dext.com/en/login" target="_blank">
                      <img src="assets/images/logo/dext.png" alt="dext">
                    </a>
                    <a href="https://find-and-update.company-information.service.gov.uk/company/13436046" target="_blank">
                      <img src="assets/images/logo/ltd.png" alt="ltd">
                    </a>
                  </div>
                </div>
              </td>
            </ng-container>
          
            <ng-container matColumnDef="accountant">
              <th mat-header-cell *matHeaderCellDef class="info-col">Accountant</th>
              <td mat-cell *matCellDef="let element"> {{element.accountant}} </td>
            </ng-container>

            <ng-container matColumnDef="companyType">
              <th mat-header-cell *matHeaderCellDef class="info-col">Company Type</th>
              <td mat-cell *matCellDef="let element"> {{element.companyType}} </td>
            </ng-container>

            <ng-container matColumnDef="onboarding">
              <th mat-header-cell *matHeaderCellDef class="info-col">Onboarding Status</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex justify-center">
                  <mat-icon class="text-red-600 mr-2" svgIcon="heroicons_outline:x"></mat-icon> 
                  <mat-icon class="cursor-pointer" svgIcon="heroicons_outline:pencil" (click)="openOnboarding()" ></mat-icon> 
                </div>
              </td>
            </ng-container>
      
            <ng-container matColumnDef="saledate">
              <th mat-header-cell *matHeaderCellDef class="package-col">Date Of Sale</th>
              <td mat-cell *matCellDef="let element"> {{element.saledate | date:'M/d/yyyy'}} </td>
            </ng-container>
      
            <ng-container matColumnDef="package">
              <th mat-header-cell *matHeaderCellDef class="package-col">Package</th>
              <td mat-cell *matCellDef="let element"> {{element.package}} </td>
            </ng-container>
      
            <ng-container matColumnDef="quarters">
              <th mat-header-cell *matHeaderCellDef class="package-col">Bookkeeping Quarters</th>
              <td mat-cell *matCellDef="let element"> {{element.quarters}}</td>
            </ng-container>
      
            <ng-container matColumnDef="frequency">
              <th mat-header-cell *matHeaderCellDef class="package-col">Bookkeeping Frequency</th>
              <td mat-cell *matCellDef="let element"> {{element.frequency}}</td>
            </ng-container>
      
            <ng-container matColumnDef="bookkeeper">
              <th mat-header-cell *matHeaderCellDef class="book-col">Management Account</th>
              <td mat-cell *matCellDef="let element"> {{element.bookKeeper}} </td>
            </ng-container>
      
            <ng-container matColumnDef="completionweek">
              <th mat-header-cell *matHeaderCellDef class="book-col">Target Completion Week</th>
              <td mat-cell *matCellDef="let element"> {{element.completionweek}} </td>
            </ng-container>
    
            <ng-container matColumnDef="bookKeepingStatus">
              <th mat-header-cell *matHeaderCellDef class="book-col">June Bookkeeping Status</th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <mat-icon *ngIf="!showStatusBtn" class="cursor-pointer" (click)="startUpdates('start', 'bookkeep')"
                  svgIcon="heroicons_outline:plus-sm">
                </mat-icon>
                <div *ngIf="showStatusBtn" class="flex items-center"> 
                  <button mat-icon-button>
                    <mat-icon class="text-red-600" svgIcon="heroicons_outline:arrow-sm-left" 
                    (click)="max > 0?openConfirmationDialog('book', max,element.bookKeepingStatus):startUpdates('end','bookkeep')"></mat-icon>
                  </button>
                  <button  mat-raised-button [disabled]="element.isSuspended" [class]="max < element.bookKeepingStatus.length ?element.bookKeepingStatus[max].status:''" 
                    (click)="max < element.bookKeepingStatus.length -1 ?getNextStatus('book', max,element.bookKeepingStatus):$event.stopPropagation()"> 
                    {{max < element.bookKeepingStatus.length ?element.bookKeepingStatus[max].text:element.bookKeepingStatus[0].text}} 
                  </button>
                  <mat-icon [ngClass]="{'badge':!element.bookKeepingStatus[max]?.visited}" svgIcon="heroicons_outline:exclamation-circle"></mat-icon>
                </div>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="vatRegistered">
              <th mat-header-cell *matHeaderCellDef class="vat-col">Vat Registered</th>
              <td mat-cell *matCellDef="let element"><mat-icon class="text-green-600" svgIcon="heroicons_outline:check"></mat-icon> </td>
            </ng-container>
          
            <ng-container matColumnDef="vatQuarter">
              <th mat-header-cell *matHeaderCellDef class="vat-col">VAT Quarter</th>
              <td mat-cell *matCellDef="let element">{{element.vatQuarter}} </td>
            </ng-container>
          
            <ng-container matColumnDef="vatscheme">
              <th mat-header-cell *matHeaderCellDef class="vat-col">VAT Scheme</th>
              <td mat-cell *matCellDef="let element">{{element.vatscheme}} </td>
            </ng-container>
    
            <ng-container matColumnDef="vatStatus">
              <th mat-header-cell *matHeaderCellDef class="vat-col">June VAT Status</th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <mat-icon *ngIf="!showVatStatusBtn" class="cursor-pointer" (click)="startUpdates('start','vat')"
                  svgIcon="heroicons_outline:plus-sm">
                </mat-icon>
                <div *ngIf="showVatStatusBtn" class="flex items-center">
                  <button mat-icon-button > 
                    <mat-icon class="text-red-600" svgIcon="heroicons_outline:arrow-sm-left" 
                      (click)="vatMax > 0?openConfirmationDialog('vat', vatMax,element.vatStatus):startUpdates('end','vat')">
                    </mat-icon>
                  </button>
                  <button mat-raised-button [disabled]="element.isSuspended" [class]="vatMax < element.vatStatus.length ?element.vatStatus[vatMax].status:''" 
                    (click)="vatMax < element.vatStatus.length-1 ?getNextStatus('vat',vatMax,element.vatStatus):$event.stopPropagation()"> 
                    {{vatMax < element.vatStatus.length ?element.vatStatus[vatMax].text:element.vatStatus[0].text}} 
                  </button>
                  <mat-icon [ngClass]="{'badge':!element.vatStatus[vatMax]?.visited}" svgIcon="heroicons_outline:exclamation-circle"></mat-icon>
                </div>
              </td>
            </ng-container>
              
            <ng-container matColumnDef="eoy">
              <th mat-header-cell *matHeaderCellDef class="account-col">EOY Accountant</th>
              <td mat-cell *matCellDef="let element">{{element.eoy}} </td>
            </ng-container>
              
            <ng-container matColumnDef="oneoff">
              <th mat-header-cell *matHeaderCellDef class="account-col">One-off Work</th>
              <td mat-cell *matCellDef="let element">{{element.oneoff}} </td>
            </ng-container>
              
            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef class="account-col">Year end Date</th>
              <td mat-cell *matCellDef="let element">{{element.endDate | date:'dd - MMM' }} </td>
            </ng-container>
              
            <ng-container matColumnDef="duedate">
              <th mat-header-cell *matHeaderCellDef class="account-col">Due Date</th>
              <td mat-cell *matCellDef="let element">{{element.duedate | date:'dd - MMM' }} </td>
            </ng-container>
              
            <ng-container matColumnDef="accountsStatus1">
              <th mat-header-cell *matHeaderCellDef class="account-col">2021 Accounts Status</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon *ngIf="!showAccStatusBtn" class="cursor-pointer" (click)="startUpdates('start','acc')"
                svgIcon="heroicons_outline:plus-sm">
              </mat-icon>
                <div *ngIf="showAccStatusBtn" class="flex items-center">
                  <button mat-icon-button *ngIf="accountMax > 0" [ngClass]="{'hidden':allVisited && accountMax == 1}">
                    <mat-icon class="text-red-600" svgIcon="heroicons_outline:arrow-sm-left" 
                    (click)="openConfirmationDialog('acc', accountMax,element.accountsStatus1)"></mat-icon>
                  </button>
                  <button mat-raised-button [disabled]="element.isSuspended" [class]="accountMax < element.accountsStatus1.length ?element.accountsStatus1[accountMax].status:''"
                  (click)="accountMax < element.accountsStatus1.length-1 ?getNextStatus('acc',accountMax,element.accountsStatus1):$event.stopPropagation()"> 
                  {{accountMax < element.accountsStatus1.length ?element.accountsStatus1[accountMax].text:element.accountsStatus1[0].text}} 
                </button>
                <mat-icon [ngClass]="{'badge':!element.accountsStatus1[accountMax]?.visited}" svgIcon="heroicons_outline:exclamation-circle"></mat-icon>
                </div>
              </td>
            </ng-container>
              
            <ng-container matColumnDef="accountsStatus2">
              <th mat-header-cell *matHeaderCellDef class="account-col">2022 Accounts Status</th>
              <td mat-cell *matCellDef="let element"> 
                <mat-icon *ngIf="!showAcc2StatusBtn" class="cursor-pointer" (click)="startUpdates('start','accNew')"
                svgIcon="heroicons_outline:plus-sm">
               </mat-icon>
                <div *ngIf="showAcc2StatusBtn" class="flex items-center">
                  <button mat-icon-button *ngIf="accountNewMax > 0" [ngClass]="{'hidden':allVisited && accountNewMax == 1}">
                    <mat-icon class="text-red-600" svgIcon="heroicons_outline:arrow-sm-left" 
                    (click)="openConfirmationDialog('accNew', accountNewMax,element.accountsStatus2)"></mat-icon>
                  </button>
                  <button mat-raised-button [disabled]="element.isSuspended" [class]="accountNewMax < element.accountsStatus2.length ?element.accountsStatus2[accountNewMax].status:''"
                  (click)="accountNewMax < element.accountsStatus2.length-1 ?getNextStatus('accNew',accountNewMax,element.accountsStatus2):$event.stopPropagation()"> 
                  {{accountNewMax < element.accountsStatus2.length ?element.accountsStatus2[accountNewMax].text:element.accountsStatus2[0].text}} 
                </button>
                <mat-icon [ngClass]="{'badge':!element.accountsStatus2[accountNewMax]?.visited}" svgIcon="heroicons_outline:exclamation-circle"></mat-icon>
                </div>
              </td>
            </ng-container>
              
              
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef class="assessment-col">Number Of Active Directors</th>
              <td mat-cell *matCellDef="let element">{{element.number}} </td>
            </ng-container>
              
            <ng-container matColumnDef="self1">
              <th mat-header-cell *matHeaderCellDef class="assessment-col">2021 Self Assessment Status</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex justify-center">
                  <mat-icon class="text-green-600" svgIcon="heroicons_outline:check"></mat-icon>
                  <mat-icon class="cursor-pointer" svgIcon="heroicons_outline:pencil" (click)="editAssessment()"></mat-icon> 
                </div>
              </td>
            </ng-container>
              
            <ng-container matColumnDef="self2">
              <th mat-header-cell *matHeaderCellDef class="assessment-col">2022 Self Assessment Status</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex justify-center">
                  <mat-icon class="text-red-600" svgIcon="heroicons_outline:x"></mat-icon>
                  <mat-icon class="cursor-pointer" svgIcon="heroicons_outline:pencil" (click)="editAssessment()"></mat-icon> 
                </div>
              </td>
            </ng-container>
              
           
    
            <ng-container matColumnDef="header-first-group">
              <th mat-header-cell *matHeaderCellDef  class="font-extrabold text-left border-r border-t" [attr.colspan]="4"> 
                Basic Info
              </th>
            </ng-container>
            <ng-container matColumnDef="header-second-group">
              <th mat-header-cell *matHeaderCellDef  class="font-extrabold text-left border-r border-t" [attr.colspan]="4"> 
                Package
              </th>
            </ng-container>
            <ng-container matColumnDef="header-third-group">
              <th mat-header-cell *matHeaderCellDef  class="font-extrabold text-left border-r border-t" [attr.colspan]="3"> 
               Bookkeeping
              </th>
            </ng-container>
            <ng-container matColumnDef="header-forth-group">
              <th mat-header-cell *matHeaderCellDef  class="font-extrabold text-left border-r border-t" [attr.colspan]="4"> 
                VAT
              </th>
            </ng-container>
            <ng-container matColumnDef="header-fifth-group">
              <th mat-header-cell *matHeaderCellDef  class="font-extrabold text-left border-r border-t" [attr.colspan]="6"> 
                Annual Accounts
              </th>
            </ng-container>
            <ng-container matColumnDef="header-six-group">
              <th mat-header-cell *matHeaderCellDef  class="font-extrabold text-left border-r border-t" [attr.colspan]="3"> 
               Self Assessments
              </th>
            </ng-container>
            
            <ng-container *ngIf="!featureStatus">
              <tr mat-header-row *matHeaderRowDef="['header-first-group', 'header-second-group','header-third-group',
              'header-forth-group','header-fifth-group','header-six-group']"  ></tr>
            </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"  [ngClass]="{'suspended': row?.isSuspended}"></tr>
          </table>
          <p *ngIf="!clientResult.length" class="p-4 text-center font-semibold ">
            Searched Result Not Found !!!
          </p>  
        </ng-container>
      </div>
  </div>
  </div>
</div>