<div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto p-6 sm:p-10">
    <fuse-alert [type]="'warning'"  [appearance]="'outline'" class="mb-4 mx-3">
      <span fuseAlertTitle>Client Suspended</span>
      Bespoke Alpha Solutions Suspended {{today | date: 'EEEE, MMMM d, y'}}
    </fuse-alert>
    <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
      <div class="text-lg font-medium tracking-tight leading-6 truncate mb-2">
        <div class="flex items-center justify-between flex-wrap">
          <div class="flex items-center">
            <div class="mr-3">Statuses</div>
            <label class="form-switch">
              <input type="checkbox" [(ngModel)]="featureStatus" (ngModelChange)="statusChanged($event)">
              <i></i>
            </label>
          </div>

          <div class="flex items-center">
            <div class="relative  cursor-pointer" style="bottom: -7px;" (click)="decrementDay()">
              <mat-icon>chevron_left</mat-icon>
            </div>
  
            <div class="date-togglers">
              <input matInput [matDatepicker]="picker" [formControl]="date" (dateChange)="chosenMonthHandler($event)" class="w-20">
              <mat-datepicker-toggle matSuffix [for]="picker" class="relative" style="bottom: -4px;"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="multi-year" [startAt]="pageState.selectedDate"
                ></mat-datepicker>
            </div>
            <div class="relative cursor-pointer" style="bottom: -7px;" (click)="incrementDay()">
              <mat-icon>chevron_right</mat-icon>
            </div>
          </div>

          <div class="search mt-2">
            <label for="search">
              <mat-icon>search</mat-icon>
            </label>
            <input id="search" type="text" placeholder="Search" [(ngModel)]="searchTerm">
          </div>

        </div>
      </div>
      <div class="flex flex-col flex-auto overflow-x-auto">
        <ng-container *ngIf="(userTableList | search : searchTerm) as clientResult">
          <table class="min-w-240 overflow-y-visible"  mat-table  [dataSource]="clientResult">
            <ng-container matColumnDef="companyName" sticky>
              <th mat-header-cell *matHeaderCellDef class="pl-0"> Company Name </th>
              <td mat-cell *matCellDef="let element">
                <div>
                  <a href="https://www.morethanaccountants.co.uk/salesflow/admin/v_lead.html?id=78216" target="_blank">{{element.companyName}}</a>
                  <a href="https://www.morethanaccountants.co.uk/salesflow/admin/v_lead.html?id=78216" target="_blank"> {{element.companyName1}}</a>
                  <a href="https://www.morethanaccountants.co.uk/salesflow/admin/v_lead.html?id=78216" target="_blank"> {{element.companyName2}}</a>
                  <div class="logo-container flex items-center justify-center">
                    <a href="https://login.xero.com/identity/user/login" target="_blank">
                      <img src="assets/images/logo/bespoke.png" alt="bespoke">
                    </a>
                    <a href="https://app.dext.com/en/login" target="_blank">
                      <img src="assets/images/logo/dext.png" alt="dext">
                    </a>
                    <a href="https://find-and-update.company-information.service.gov.uk/company/13436046" target="_blank">
                      <img src="assets/images/logo/ltd.png" alt="ltd">
                    </a>
                  </div>
                </div>
              </td>
            </ng-container>
          
            <ng-container matColumnDef="customerName">
              <th mat-header-cell *matHeaderCellDef>Customer Name</th>
              <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
            </ng-container>
      
            <ng-container matColumnDef="package">
              <th mat-header-cell *matHeaderCellDef>Package</th>
              <td mat-cell *matCellDef="let element"> {{element.package}} </td>
            </ng-container>
          
            <ng-container matColumnDef="accountant">
              <th mat-header-cell *matHeaderCellDef>Accountant</th>
              <td mat-cell *matCellDef="let element"> {{element.accountant}} </td>
            </ng-container>
        
            <ng-container matColumnDef="bookkeeper">
              <th mat-header-cell *matHeaderCellDef>Bookkeeper</th>
              <td mat-cell *matCellDef="let element"> {{element.bookKeeper}} </td>
            </ng-container>
        
            <ng-container matColumnDef="accountsTeam">
              <th mat-header-cell *matHeaderCellDef>Accounts Team</th>
              <td mat-cell *matCellDef="let element"> {{element.accountsTeam}} </td>
            </ng-container>
        
            <ng-container matColumnDef="companyType">
              <th mat-header-cell *matHeaderCellDef>Company Type</th>
              <td mat-cell *matCellDef="let element"> {{element.companyType}} </td>
            </ng-container>
      
            <ng-container matColumnDef="lastDispo">
              <th mat-header-cell *matHeaderCellDef>Last Dispo</th>
              <td mat-cell *matCellDef="let element"> {{element.lastDispo | date:'d-MMMM'}} </td>
            </ng-container>
      
            <ng-container matColumnDef="lastEmail">
              <th mat-header-cell *matHeaderCellDef>Last Email</th>
              <td mat-cell *matCellDef="let element"> {{element.lastEmail | date:'d-MMMM'}} </td>
            </ng-container>
      
            <ng-container matColumnDef="lastSms">
              <th mat-header-cell *matHeaderCellDef>Last SMS </th>
              <td mat-cell *matCellDef="let element"> {{element.lastSms | date:'d-MMMM'}} </td>
            </ng-container>
      
            <ng-container matColumnDef="onboarding">
              <th mat-header-cell *matHeaderCellDef>Onboarding Status</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex justify-center">
                  <mat-icon class="text-red-600 mr-2" svgIcon="heroicons_outline:x"></mat-icon> 
                  <mat-icon class="cursor-pointer" svgIcon="heroicons_outline:pencil" (click)="openOnboarding()" ></mat-icon> 
                </div>
              </td>
            </ng-container>
      
            <ng-container matColumnDef="openOne">
              <th mat-header-cell *matHeaderCellDef>Open One Off Work</th>
              <td mat-cell *matCellDef="let element"> {{element.openOne}} </td>
            </ng-container>
      
            <ng-container matColumnDef="openOff">
              <th mat-header-cell *matHeaderCellDef>One Off	Reviewd Queue</th>
              <td mat-cell *matCellDef="let element"> {{element.openOff}} </td>
            </ng-container>
      
            <ng-container matColumnDef="frequency">
              <th mat-header-cell *matHeaderCellDef>Bookkeeping Frequency</th>
              <td mat-cell *matCellDef="let element"> {{element.frequency}} Monthly</td>
            </ng-container>
      
            <ng-container matColumnDef="bookkeepingWeek">
              <th mat-header-cell *matHeaderCellDef>Bookkeeping Week</th>
              <td mat-cell *matCellDef="let element">  
                <div class="flex items-center justify-center">Week 1
                <mat-icon class="text-green-600 cursor-pointer" svgIcon="heroicons_outline:arrow-sm-up" ></mat-icon>
                {{element.bookkeepingWeek | date: 'dd/MM/yyyy'}} 
                </div>
              </td>
            </ng-container>
    
            <ng-container matColumnDef="bookKeepingStatus">
              <th mat-header-cell *matHeaderCellDef>May Bookkeeping Status</th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <mat-icon *ngIf="!showStatusBtn" class="cursor-pointer" (click)="startUpdates('start')"
                  svgIcon="heroicons_outline:plus-sm">
                </mat-icon>
                <div *ngIf="showStatusBtn" class="flex"> 
                <button mat-icon-button>
                  <mat-icon class="text-red-600" svgIcon="heroicons_outline:arrow-sm-left" 
                  (click)="max > 0?openConfirmationDialog('book', max,element.bookKeepingStatus):startUpdates('end')"></mat-icon>
                </button>
                <button mat-raised-button [disabled]="element.isSuspended" [class]="max < element.bookKeepingStatus.length ?element.bookKeepingStatus[max].status:''" 
                  (click)="max < element.bookKeepingStatus.length -1 ?getNextStatus('book', max,element.bookKeepingStatus):$event.stopPropagation()"> 
                  {{max < element.bookKeepingStatus.length ?element.bookKeepingStatus[max].text:element.bookKeepingStatus[0].text}} 
                </button>
                </div>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="nextbookKeepingStatus">
              <th mat-header-cell *matHeaderCellDef>Next BookKeeping Status</th>
              <td mat-cell *matCellDef="let element"> {{element.nextbookKeepingStatus}} </td>
            </ng-container>
            
            <ng-container matColumnDef="unreconciled">
              <th mat-header-cell *matHeaderCellDef>Unreconciled Transactions</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex items-center justify-center">
                  {{element.unreconciled}} <mat-icon class="ml-2" svgIcon="feather:corner-up-right"></mat-icon>
                </div>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="last">
              <th mat-header-cell *matHeaderCellDef>Last Transaction Date</th>
              <td mat-cell *matCellDef="let element"> {{element.last | date:'M/d/yyyy'}} </td>
            </ng-container>
            
            <ng-container matColumnDef="accountsWith">
              <th mat-header-cell *matHeaderCellDef>Accounts With	No Recent Transactions</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex items-center justify-center">
                  {{element.accountsWith}}  <mat-icon class="ml-2" svgIcon="feather:corner-up-right"></mat-icon>
                </div>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="vatRegistered">
              <th mat-header-cell *matHeaderCellDef>Vat Registered</th>
              <td mat-cell *matCellDef="let element"><mat-icon class="text-red-600" svgIcon="heroicons_outline:x"></mat-icon> </td>
            </ng-container>
          
    
            <ng-container matColumnDef="vatStatus">
              <th mat-header-cell *matHeaderCellDef>May VAT Status</th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <div class="flex">
                  <button mat-icon-button *ngIf="vatMax > 0" [ngClass]="{'hidden':allVisited && vatMax == 1}">
                    <mat-icon class="text-red-600" svgIcon="heroicons_outline:arrow-sm-left" (click)="openConfirmationDialog('vat', vatMax,element.vatStatus)"></mat-icon>
                  </button>
                  <button mat-raised-button [disabled]="element.isSuspended" [class]="vatMax < element.vatStatus.length ?element.vatStatus[vatMax].status:''" 
                    (click)="vatMax < element.vatStatus.length-1 ?getNextStatus('vat',vatMax,element.vatStatus):$event.stopPropagation()"> 
                    {{vatMax < element.vatStatus.length ?element.vatStatus[vatMax].text:element.vatStatus[0].text}} 
                  </button>
                </div>
              </td>
            </ng-container>
    
            <ng-container matColumnDef="nextVatStatus">
              <th mat-header-cell *matHeaderCellDef>Next VAT Status</th>
              <td mat-cell *matCellDef="let element">{{element.nextVatStatus}} </td>
            </ng-container>
    
            <ng-container matColumnDef="vatQuarter">
              <th mat-header-cell *matHeaderCellDef>VAT Quarter</th>
              <td mat-cell *matCellDef="let element">{{element.vatQuarter}} </td>
            </ng-container>
              
            <ng-container matColumnDef="lastVat">
              <th mat-header-cell *matHeaderCellDef>Last VAT Submitted Xero</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex items-center justify-center">
                  {{element.lastVat}} <mat-icon class="ml-2" svgIcon="feather:corner-up-right"></mat-icon>
                </div>
              </td>
            </ng-container>
              
            <ng-container matColumnDef="vat">
              <th mat-header-cell *matHeaderCellDef>VAT Scheme On Xero</th>
              <td mat-cell *matCellDef="let element"> 
                <div class="flex items-center justify-center">
                  {{element.vat}}<mat-icon class="ml-2" svgIcon="feather:corner-up-right"></mat-icon>
                </div>
              </td>
            </ng-container>
              
            <ng-container matColumnDef="payroll">
              <th mat-header-cell *matHeaderCellDef>Payroll Journalled</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex justify-center">
                  <mat-icon  svgIcon="feather:corner-up-right"></mat-icon>
                  <mat-icon class="text-green-600" svgIcon="heroicons_outline:check"></mat-icon>
                </div>
              </td>
            </ng-container>
              
            <ng-container matColumnDef="management">
              <th mat-header-cell *matHeaderCellDef>Management Report Frequency</th>
              <td mat-cell *matCellDef="let element">{{element.management}} </td>
            </ng-container>
              
            <ng-container matColumnDef="lastManagement">
              <th mat-header-cell *matHeaderCellDef>Last Management Report Sent</th>
              <td mat-cell *matCellDef="let element">{{element.lastManagement}} </td>
            </ng-container>
              
            <ng-container matColumnDef="lastType">
              <th mat-header-cell *matHeaderCellDef>Last Type of Management Report</th>
              <td mat-cell *matCellDef="let element">{{element.lastType}} </td>
            </ng-container>
              
            <ng-container matColumnDef="accountsStatus1">
              <th mat-header-cell *matHeaderCellDef>2021 Accounts Status</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex">
                  <button mat-icon-button *ngIf="accountMax > 0" [ngClass]="{'hidden':allVisited && accountMax == 1}">
                    <mat-icon class="text-red-600" svgIcon="heroicons_outline:arrow-sm-left" 
                    (click)="openConfirmationDialog('acc', accountMax,element.accountsStatus1)"></mat-icon>
                  </button>
                  <button mat-raised-button [disabled]="element.isSuspended" [class]="accountMax < element.accountsStatus1.length ?element.accountsStatus1[accountMax].status:''"
                  (click)="accountMax < element.accountsStatus1.length-1 ?getNextStatus('acc',accountMax,element.accountsStatus1):$event.stopPropagation()"> 
                  {{accountMax < element.accountsStatus1.length ?element.accountsStatus1[accountMax].text:element.accountsStatus1[0].text}} 
                </button>
                </div>
              </td>
            </ng-container>
              
            <ng-container matColumnDef="accountsStatus2">
              <th mat-header-cell *matHeaderCellDef>2022 Accounts Status</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex">
                  <button mat-icon-button *ngIf="accountNewMax > 0" [ngClass]="{'hidden':allVisited && accountNewMax == 1}">
                    <mat-icon class="text-red-600" svgIcon="heroicons_outline:arrow-sm-left" 
                    (click)="openConfirmationDialog('accNew', accountNewMax,element.accountsStatus2)"></mat-icon>
                  </button>
                  <button mat-raised-button [disabled]="element.isSuspended" [class]="accountNewMax < element.accountsStatus2.length ?element.accountsStatus2[accountNewMax].status:''"
                  (click)="accountNewMax < element.accountsStatus2.length-1 ?getNextStatus('accNew',accountNewMax,element.accountsStatus2):$event.stopPropagation()"> 
                  {{accountNewMax < element.accountsStatus2.length ?element.accountsStatus2[accountNewMax].text:element.accountsStatus2[0].text}} 
                </button>
                </div>
    
              </td>
            </ng-container>
              
            <ng-container matColumnDef="chNextAccountsDate">
              <th mat-header-cell *matHeaderCellDef>CH Next Accounts Date</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex items-center justify-center">
                  {{element.chNextAccountsDate}}
                  <mat-icon class="text-green-600" svgIcon="heroicons_outline:arrow-sm-up" ></mat-icon>
                  <div class="flex items-center justify-center">
                    <a class="cursor-pointer" href="https://login.xero.com/identity/user/login" target="_blank" ><mat-icon svgIcon="feather:corner-up-right"></mat-icon></a>
                    23/06/2022
                  </div>
                </div>
              </td>
            </ng-container>
              
            <ng-container matColumnDef="chConfirmatation">
              <th mat-header-cell *matHeaderCellDef>CH Confirmatation Statement Due	</th>
              <td mat-cell *matCellDef="let element">{{element.chConfirmatation}} </td>
            </ng-container>
              
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef>Number Of Directors</th>
              <td mat-cell *matCellDef="let element">{{element.number}} </td>
            </ng-container>
              
            <ng-container matColumnDef="self1">
              <th mat-header-cell *matHeaderCellDef>2021 Self Assessment Completed</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex justify-center">
                  <mat-icon class="text-green-600" svgIcon="heroicons_outline:check"></mat-icon>
                  <mat-icon svgIcon="heroicons_outline:pencil"></mat-icon> 
                </div>
              </td>
            </ng-container>
              
            <ng-container matColumnDef="self2">
              <th mat-header-cell *matHeaderCellDef>2022 Self Assessment Completed</th>
              <td mat-cell *matCellDef="let element">
                <div class="flex justify-center">
                  <mat-icon class="text-red-600" svgIcon="heroicons_outline:x"></mat-icon>
                  <mat-icon svgIcon="heroicons_outline:pencil"></mat-icon> 
                </div>
              </td>
            </ng-container>
              
            <ng-container matColumnDef="avgLast">
              <th mat-header-cell *matHeaderCellDef>Average Last 3 Months Turnover</th>
              <td mat-cell *matCellDef="let element">{{element.avgLast}} </td>
            </ng-container>
              
            <ng-container matColumnDef="avgLast1">
              <th mat-header-cell *matHeaderCellDef>Average Last 3 Months Transactions</th>
              <td mat-cell *matCellDef="let element">{{element.avgLast1}} </td>
            </ng-container>
              
            <ng-container matColumnDef="clientBilling">
              <th mat-header-cell *matHeaderCellDef>Client Billing</th>
              <td mat-cell *matCellDef="let element">{{element.clientBilling}} </td>
            </ng-container>
    
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"  [ngClass]="{'suspended': row?.isSuspended}"></tr>
          </table>
          <p *ngIf="!clientResult.length" class="p-4 text-center font-semibold ">
            Searched Result Not Found !!!
          </p>  
        </ng-container>
      </div>
  </div>
  </div>
</div>